<!---
References:
    login.html based on the 'Create a login.html file' section of:

    Ordinary Coders (2020) [online] A Guide to User Registration, Login, and Logout in Django. Available at:
    https://ordinarycoders.com/blog/article/django-user-register-login-logout (Accessed: 09 July 2023).
--->
{% extends "web_app/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container py-5">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">New to the application? <a href="{% url 'register_eng_form' %}">Register New Engineer</a>.</p>
    </div>
{% endblock %}