<!---
References:
    Based on the 'Create a base page template and styles' section of the django tutorial:
    Visual Studio Code (no date) [online] Python and Django tutorial in Visual Studio Code. Available at:
    https://code.visualstudio.com/docs/python/tutorial-django (Accessed: 09 September 2022).
--->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'web_app/site.css' %}"/>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
</head>

<body>
<div class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">Home</a>
    <a href="{% url 'customer' %}" class="navbar-item">Customer Lookup</a>
    <a href="{% url 'device' %}" class="navbar-item">Device Lookup</a>
    <a href="{% url 'new_customer_form' %}" class="navbar-item">Create New Customer</a>
    <a href="{% url 'new_eng_form' %}" class="navbar-item">Register New Engineer</a>
    <a href="{% url 'login' %}" class="navbar-item">Login</a>
    <a href="{% url 'logout' %}" class="navbar-item">Logout</a>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>© 2022</p>
    </footer>
</div>
</body>
</html>